*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    background-size: cover;
    font-family: sans-serif;
}
.fb{
    width: 500px;
    background: rgba(0, 0, 0, 1);
    margin: 6% auto;
    margin-bottom: 150px;
    z-index: -1;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0, 0, 20px, 2px rgba(0, 0, 0, 0.5);
}
.fb2{
    width: 500px;
    background: rgba(0, 0, 0, 1);
    margin: 1.5% auto;
    padding: 50px 0;
    color: #fff;
}
.fb3{
    width: 500px;
    background: rgba(0, 0, 0, 1);
    margin: 10% auto;
    margin-bottom: 300px;
    z-index: -1;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0, 0, 20px, 2px rgba(0, 0, 0, 0.5);
}
h1{
    text-align: center;
    margin-bottom: 40px;
}
h2{
    text-align: center;
    margin-bottom: 40px;
}
.ib{
    margin: 31px auto;
    width: 80%;
    border-bottom: 2px solid rgb(67, 67, 67);
    padding-top: 10px;
    padding-bottom: 5px;
}
.ib input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}
.ib label {
    font-size: 87%;
    color: rgb(117, 117, 117);
}
.ip{
    margin: 0px auto;
    width: 80%;
    margin-top: -4%;
}
.ip input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    margin-left: 48%;
    color: #fff;
}
.ib select {
    border: none;
    outline: none;
    background: transparent;
    color:rgb(255, 255, 255);
    margin-right: 5%;
}
.ib select option {
    background: black;
}
.RM{
    margin-top: -4%;
}
.RM a{
    font-size: 80%;
    text-align: center;
    color: #fff;
    margin-left: 69%;
    color: rgb(117, 117, 117);
}
.sh{
    position: absolute;
}
.lin{
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 2px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
}
.FPR{
    text-align: center;
    color: #fff;
    margin-left: 100px;
}
.Header {
    background: rgb(10, 10, 10);
    box-shadow: 0 0 0 2px #fff;
    width: 100%;
}
.IMGWR{
    width: 5%;
    height: 5%;
    margin-left: 1.5%;
}
.IMDPP{
    border-radius: 50%;
    width: 7%;
    margin-left: 2%;
    margin-top: 2%;
}
