*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    background-size: cover;
    font-family: sans-serif;
}
.fb{
    width: 500px;
    margin: 50px auto;
    margin-bottom: 150px;
    z-index: -1;
    padding: 50px 0;
    color: #fff;
}

.fb .logoWrapper {
    margin: 40px auto 20px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.fb img {
    height: 50px;
}

h1{
    text-align: center;
    margin-bottom: 40px;
}
h2{
    text-align: center;
    margin-bottom: 40px;
}
.ib{
    margin: 31px auto;
    width: 80%;
    border-bottom: 2px solid rgb(67, 67, 67);
    padding-top: 10px;
    padding-bottom: 5px;
}
.ib input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}
.ib label {
    font-size: 87%;
    color: rgb(117, 117, 117);
}
.ip{
    margin: 0px auto;
    width: 80%;
    margin-top: -4%;
}
.ip input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    margin-left: 48%;
    color: #fff;
}
.ib select {
    border: none;
    outline: none;
    background: transparent;
    color:rgb(255, 255, 255);
    margin-right: 5%;
}
.ib select option {
    background: black;
}
.RM{
    margin-top: -4%;
}
.RM a{
    font-size: 80%;
    text-align: center;
    color: #fff;
    margin-left: 69%;
    color: rgb(117, 117, 117);
}
.sh{
    position: absolute;
    cursor: pointer;
    font-size: .9em;
}
.lin{
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 2px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
}
.FPR{
    text-align: center;
    color: #fff;
    margin-left: 100px;
}
