*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    background-size: cover;
    font-family: sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.fb{
    width: 30rem;
    color: #fff;
    background-color: #000;
}


.fb .logoWrapper {
    margin: 2rem auto 1rem;
    width: 80%;
    display: flex;
    justify-content: center;
}

.fb img {
    height: 2rem;
}

h2{
    text-align: center;
    margin-bottom: 3rem;
}

.ib{
    margin: 31px auto;
    width: 80%;
    border-bottom: 2px solid rgb(67, 67, 67);
    padding-top: 1rem;
    padding-bottom: 0.25rem;
}

.ib input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}
.ib label {
    font-size: 87%;
    color: rgb(117, 117, 117);
}
.ip{
    margin: 0px auto;
    width: 80%;
    margin-top: -4%;
    display: flex;
    justify-content: flex-end;
}
.ip input {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}
.ip a{
    font-size: 80%;
    color: rgb(117, 117, 117);
    padding-right: 0.25rem;
}
.ib select {
    border: none;
    outline: none;
    background: transparent;
    color:rgb(255, 255, 255);
    margin-right: 5%;
}
.ib select option {
    background: black;
}
.sh{
    position: absolute;
    cursor: pointer;
    font-size: .9em;
}
.lin{
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 2px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
}
.FPR{
    color: #fff;
}
.ForPasReg{
    display: flex;
    justify-content: center;
    gap: 30%;
}